/* Configuración de estilo listado-destinos*/
body {
  font-family: system-ui, sans-serif;
  background-image: url('../img/tokyo.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin: 0;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background: #005f99;
  color: #fff;
}

/* Navegación */
.nav__list {
  list-style: none;
  display: flex;
  gap: 1rem;
}

.nav__link {
  color: #e0f4ff;
  text-decoration: none;
  font-size: 0.95rem;
  padding: 0.4rem 0.8rem;
  border-radius: 999px;
  transition:
    background 0.2s,
    color 0.2s;
}

.nav__link:hover {
  background: #e0f4ff;
  color: #005f99;
}

.nav__link--active {
  background: #e0f4ff;
  color: #005f99;
  font-weight: 600;
}

main {
  padding: 2rem;
  display: flex;
  justify-content: center;
  margin-top: 8rem;
}

.list-section {
  width: 100%;
  max-width: 900px;
  background: white;
  padding: 2rem;
  border-radius: 0.75rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
}

.tabla {
  width: 100%;
  border-collapse: collapse;
  margin-top: 1rem;
}

.tabla th,
.tabla td {
  padding: 0.8rem;
  border-bottom: 1px solid #ddd;
  text-align: left;
}

.tabla th {
  background: #e0f4ff;
}

.btn {
  padding: 0.4rem 0.8rem;
  border-radius: 0.4rem;
  border: none;
  cursor: pointer;
  font-size: 0.85rem;
}

.btn-editar {
  background: #0077b6;
  color: white;
  padding-left: 20px;
  padding-right: 20px;
}

.btn-eliminar {
  background: #d00000;
  color: white;
  padding-left: 20px;
  padding-right: 20px;
}

.btn:hover {
  opacity: 0.85;
}

.mensaje {
  margin-top: 1rem;
  font-weight: bold;
}
/* Footer */
footer {
  padding: 1rem 1.5rem;
  text-align: center;
  background: #003049;
  color: #e0f4ff;
  font-size: 0.85rem;
  margin-top: 8rem;
}
.guiaClase {
  display: inline-flex;
}
#guia {
  background: #0077b6;
  color: white;
  padding: 5px;
  padding-left: 20px;
  padding-right: 20px;
  text-decoration: none;
  margin-left: 540px;
  cursor: pointer;
  border-radius: 5px;
  display: inline-flex;
}
